<a href="/">
  <button> Inicio </button>
</a>

<h1>COMPRAR</h1>
  <h2>Propiedades en Venta</h2>


{{!-- {{#each todasLasPropiedades}} --}}
  <div class="propiedades">
    <img name="{{imagen}}" src="https://definicion.de/wp-content/uploads/2011/01/casa-1.jpg" >
    <h1 name="{{nombre}}"> Casa Remodelada</h1>
    <h3 name="{{ubicacion}}"> Guadalajara, Mx.</h3>
  </div>


{{!-- {{/each}} --}}
<a href="/compras/{{_id}}">
  <button> Detalles de la Propiedad</button>
</a>



