<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
  <body>
    <a href="/">
      <button>Inicio</button>
    </a>

    <h1>VENTAS</h1>
      <br>
        <h2>INFORMACIÓN DEL VENDEDOR</h2>


    <form onsubmit="sendData" action="/ventas" method="post">
      <div>   
        <label> Nombre
          <input name="nombreUsuario">
        </label>
      </div>

      <div>
        <label> Email
          <input name="email">
        </label>
      </div>
      
      <div>
        <button type="submit">
          Enviar Datos
        </button>
      </div>
    </form>

    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
  
    <script type="text/javascript" src="js/emailconfig.js"> </script>
  </body>
</html>

